@model Images
@using Jpeg.Models

@{
	ViewData["Title"] = "Home Page";
}


<form method="post" enctype="multipart/form-data">
	<h2>Upload Image as png or gif Format</h2>
	<input name="image" type="file"/>
	<input type="submit" value="Upload"/>
</form>

@if(Model != null)
{
	<picture style="height:50vh;">
		<source srcset="@Model.JpegImage" type="image/jpeg">
		<img src="@Model.NormalImage" style="height:50vh;" alt="No Image"/>
	</picture>
}

